{% extends "backend/base.html" %} 

{% block content %}
    <div class="container-md mt-5 idea-list">
        <div class="row justify-content-center align-items-top">

            <!-- Контейнер идей -->
            <div class="col">

                <div class="card mb-3" style="min-height: 166px; min-width: 380px;">
                    <div class="card-body">

                        <div class="row g-3 justify-content-left">

                            <div class="col-sm-2 card-image d-none d-md-block my-auto">
                                <!-- {% if request.user.avatar %}
                                <img src="{{ request.user.avatar }}" class="img-fluid rounded-circle" alt="Card title">
                                {% else %} {% endif %} -->
                                <img src="https://img.freepik.com/free-vector/mysterious-mafia-man-smoking-cigarette_52683-34828.jpg?w=826&t=st=1678618018~exp=1678618618~hmac=ea416d598467ae43cc431081515e0bb0a25e41cb22385a045ec12ca347842f9a"
                                    class="img-fluid rounded-circle" alt="Card title">
                            </div>

                            <div class="col" style="min-width: 340px;">

                                <div class="container">
                                    <div class="row justify-content-center align-items-center g-2">
                                        <h4 class="card-title text-center"><strong>{{ idea.title }} {{ idea.pk }}</strong></h4>
                                    </div>

                                    <div class="row g-1">

                                        <div class="col-4 my-auto">
                                            <a class="nameLink" href="#">{{ idea.autor }}</a>
                                        </div>

                                        <div class="col my-auto">
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-striped" role="progressbar"
                                                    style="width: 70%" aria-valuenow="70" aria-valuemin="0"
                                                    aria-valuemax="100"></div>
                                            </div>
                                        </div>

                                        <div class="col-1 my-auto">
                                            <small class="text-muted">(1)</small>
                                        </div>
                                        <div class="row justify-content-center align-items-center g-2">
                                            <div class="col">
                                                <p class="card-text">Описание</p>
                                                <p>{{ idea.preview }}</p>
                                                <p class="card-text">
                                                    <small class="text-muted">Опубликовано {{ idea.created_at }}</small>
                                                </p>
                                            </div>
                                        </div>

                                        <a href="{% url 'backend:idea_card_delete' idea.pk %}">удалить</a>

                                        <div class="feedback_list" style="width:100%;display:inline;z-index:100;">
                                            {% for feedback in feedbacks %}
                                            <div>
                                                <img src="" alt="">
                                                <div>Оценка: {{ feedback.rating }}</div>
                                                <div>Отзыв: {{ feedback.feedback }}</div>
                                                <a href="{% url 'backend:feedback_delete' feedback.pk %}">удалить</a>
                                            </div>
                                            {% endfor %}
                                        </div>

                                        <div style="width: 100%;display:inline;z-index:100;margin-top:30px;">
                                            {% if likes %}
                                            <div>поставил лайк: {% for like in likes %} {{ like.autor }} {% endfor %}</div>
                                            {% endif %}
                                        </div>
                                        
                                        <div style="width: 100%;display:inline;z-index:100;margin-top:30px;">
                                            {% if joined_users %}
                                                <div>присоединился к проекту: {% for joined_user in joined_users %} {{ joined_user.autor }} {% endfor %}</div>
                                            {% endif %}
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="col-1 my-auto">
                                <div class="container">
                                    <div class="row g-2 mx-auto justify-content-center">

                                        <div class="col">
                                            <div class="serviceButton">
                                                <!-- id="feedback" нужен для определения элемента в js -->
                                                <button class="nav-link feedback" href=""><img class="service-img"
                                                        src="https://cdn-icons-png.flaticon.com/128/134/134808.png">
                                                </button>
                                            </div>
                                        </div>

                                        <div class="col">
                                            <div class="serviceButton">
                                                <a class="nav-link " href="{% url 'backend:like_add' idea.pk %}"><img class="service-img"
                                                        src="https://cdn-icons-png.flaticon.com/128/1077/1077035.png">
                                                </a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <!-- форма тестовая без дизайна, но работает -->

                            <form id="feedback_form" method="post" action="{% url 'backend:feedback_add' idea.pk %}" 
                            style="position: absolute;bottom:0;width: 100%;display: none;">
                                {% csrf_token %}
                                <div class="rating-area">
                                    <input type="radio" id="star-1" name="rating" value="1">
                                    <label for="star-1" title="Оценка «1»">★</label>
                                    <input type="radio" id="star-2" name="rating" value="2">
                                    <label for="star-2" title="Оценка «2»">★</label>
                                    <input type="radio" id="star-3" name="rating"value="3">
                                    <label for="star-3" title="Оценка «3»">★</label>
                                    <input type="radio" id="star-4" name="rating"value="4">
                                    <label for="star-4" title="Оценка «4»">★</label>
                                    <input  type="radio" id="star-5" name="rating"value="5">
                                    <label for="star-5" title="Оценка «5»">★</label>
                                </div>
                                <textarea name="feedback_text"></textarea>
                                <button type="submit">отравить</button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

{% endblock content %}