{% load static %}
{% load bootstrap4 %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MP Project</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>    
</head>

<body>

    <div class="container-md site-container">

        {% block title %}
        <nav class="navbar sticky-top navbar-light bg-light mb-3 border-bottom border-primary">
            <div class="container-fluid">

                <!-- Главноая панель навигации -->
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'backend:index' %}">Главная</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                            aria-expanded="false">Мой кабинет</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Профиль</a></li>
                            <li><a class="dropdown-item" href="{% url 'backend:my_ideas' %}">Мои идеи</a></li>
                            <li><a class="dropdown-item" href="#">Что-то ещё</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            {% if user.is_authenticated %}
                                <li><a class="dropdown-item" href="{% url 'authapp:logout' %}">Выход</a></li>
                            {% endif %}

                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="#" src="">Wiki</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="{% url 'authapp:logout' %}" tabindex="-1" aria-disabled="true">Выход</a>
                    </li>
                </ul>

                <!-- Панель поиска -->
                <form method="post" class="d-flex" action="{% url 'backend:search' %}">
                    {% csrf_token %}
                    <input class="form-control mr-2" name="search" type="search" placeholder="Search" aria-label="Search">

                    <button class="btn mainButton" type="submit">
                        <img class="service-img" style="width: 30px;" src="https://cdn-icons-png.flaticon.com/128/751/751463.png" alt="Поиск">
                    </button>
                </form>

                {% if user.is_superuser %}
                    <li style="list-style-type: none;"><a class="dropdown-item" href="#">Админка</a></li>
                {% endif %}

                <!-- Кнопка входа в систему (модальное окно) -->
                <form method="post" action="{% url 'authapp:login' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn mainButton" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Войти в систему
                    </button>
                </form>
            </div>
        </nav>

        {% endblock %}

        {% block content %}
            Основной блок базовой страници на подмену
        {% endblock content %}


        {% block footer %}
            Подвал базовой страници на подмену
        {% endblock %}
    
    </div>

    <script>

        let feedback_button = document.getElementsByClassName("feedback")
        for (let i = 0; i < feedback_button.length; i++){
            feedback_button[i].onclick = function(el){
                let feedback_form = feedback_button[i].parentNode.parentNode.parentNode.parentNode.
                parentNode.parentNode.childNodes[9]
                feedback_form.style.opacity = 1

                <!-- нужно для того, чтобы форма добавления отзыва не загорадивалась списком отзывов -->
                feedback_form.style.zIndex = 1000
            }
        }

    </script>

</body>
</html>